<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/style.css">
	<title>About Page</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img class="potrait" src="/img/profile.jpg">
	</div>
	{{>footer}}
</body>
</html>